<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>noting</title>
    <link rel="stylesheet" href="css/index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>not<span id="h">h</span>ing</h1>
      <p id="description">simple, <span id="perf">perfect</span><br> note-taker</p>
      <form id="auth-form" action="/login" class="form" method="POST">
        <input class="input-box" type="text" placeholder="email"><br>
        <input class="input-box" type="password" placeholder="password"><br>
        <div class="table">
          <ul>
            <li>
                <input type='radio' value='1' name='radio' id='login' checked/>
                <label class="auth-btn" for='login'>login</label>
            </li>
            <li>
                <input type='radio' value='2' name='radio' id='signup'/>
                <label class="auth-btn" for='signup'>signup</label>
            </li>
          </ul>
        </div>
        <button type="submit" class="submit"></button>
      </form>
    </div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <script src="index.js"></script>
  </body>
</html>
