body, html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  /*display: grid;*/
  position: relative;
  overflow: hidden; /* prevent scrolling */
}

h1 {
  font-size: 60px;
  font-weight: lighter;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#description {
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: lighter;
}

#h { color: rgba(0, 0, 0, 0.1); }

#perf { font-family: "Montserrat"; font-weight: bold; font-style: italic }

.container {
  /*margin: auto;*/
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -20%);
  padding: 20px;
}

.form {
  border: solid 3px #707070;
  margin: 0 auto;
  padding: 40px 40px 0px 40px;
  border-radius: 25px;
  width: 200px;
}

.input-box {
  margin: 0px auto 50px auto; /* top right bottom left */
  border: none;
  border-bottom: 3px solid #707070;
  background: transparent;
  outline: none;
  height: 30px;
  font-family: "Montserrat";
  font-weight: lighter;
  width: 100%;
  color: #000; /* font color */
  /*background-color: #f06d06;*/
}

.submit {
  border: solid 1px #707070;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 10px 0 20px 0;
}

/* Slider */

.switch {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 40px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

input:checked + .slider:before {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.auth-options {
  margin-top: -15px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: -15px auto 0 auto;

}

input[type="radio"] {
  display:none;
}

.auth-btn {
  display:inline-block;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  width: 50px;
  font-size: 10px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.auth-btn:focus {
  outline: none;
}

ul {
  min-width: 100px;
  list-style: none;
  padding: 0;
}
li {
  display: inline;
  padding: 0 5px;
}
input[type="radio"] {
    visibility:hidden;
}
label {
    cursor: pointer;
}
input:checked + label {
  background-color: #E3E3E3;
  border-width: 2px;
  outline: none;
}
